body{
    font-family: "Plus Jakarta Sans",sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

.add-btn{
    background-color: #fe424d !important;
}

.btn{
    display: flex;
}
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links{
    width: 100%;
}
.f-info-socials{
    width: 100%;
    font-size: 1.5rem;
}

.f-info{
    height: 6rem;
    background-color: #ebebeb;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.listing-card {
    margin-bottom: 2rem;
    border: none !important;
}

.card-img-top {
    width: 100% !important;
    height: 20rem !important;
    object-fit: cover !important;
    border-radius: 1rem !important;
}
.card-body{
    padding: 0rem;
}
.card-text{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none !important;
}


#review {
  /* width: 500px;   custom width */
  height: 100px;  /* custom height */
}

#map{
    height:400px;
    width:100vh;
}